body {
    background: #c5deec;
    font-family: Tahoma, Geneva, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

.grid {
    display: grid;
    grid-template-areas: "left right"
    "bottom bottom";
    gap: 30px;
  }

  .balanceField {
    grid-area: left;
    padding: 20px;
    border-radius: 32px;
    background: #c5deec;
    box-shadow: inset 10px 10px 20px #9eb2bd, 
                inset -10px -10px 20px #ecffff;
  }

  .workField {
      grid-area: right;
      padding: 20px;
      border-radius: 32px;
      background: #c5deec;
      box-shadow: inset 10px 10px 20px #9eb2bd, 
                  inset -10px -10px 20px #ecffff;
  }
  .laptopCard {
      grid-area: bottom;
      display: grid;
      grid-template: "bottom-left bottom-right";
      padding: 20px;
      border-radius: 32px;
      background: #c5deec;
      box-shadow: inset 10px 10px 20px #9eb2bd, 
                  inset -10px -10px 20px #ecffff;
  }
  .laptopCard__left {
    grid-area: "bottom-left";
  }
  .laptopCard__right {
    grid-area: "bottom-righ";
  }
  img {
      max-width: 200px;
      max-height: 200px;
      padding: 20px;
  }¨

  select {
    background: #c5deec;
    
  }

  option {
    background: #c5deec;    
  }

  button {
      padding: 10px;
      border-radius: 17px;
      background: #c5deec;
      box-shadow:  5px 5px 11px #9eb2bd, 
      -5px -5px 11px #ecffff;
      margin: 10px;
      border-style: none;
      outline: none;
      font-weight: bold;
  }
  button:active{
    padding: 10px;
    border-radius: 17px;
    border-style: none;
    background: #c5deec;
    box-shadow: inset 5px 5px 11px #9eb2bd, 
            inset -5px -5px 11px #ecffff;
  }
